@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Georama:wght@300&display=swap');

* {
    margin: 0;
   padding: 0;
   border: none;
}

body {
    
   font-family: Georama, sans-serif;
   font-weight: 300;
   background-color: #171010;
   color: cornsilk;
   
}

header {
    height: 150px;
}

#heading {
    color: cornsilk;
    font-family: "Bebas Neue";
    font-size: 600%;
    margin: 20px 0 0 20px;
    float: left;
}

/*navigation styling*/

    
#menu, #heading {
    line-height: 75px;
}

#menu, li {
    float: right;
    display: inline;  
    display: inline; 
    font-size: 150%;
    letter-spacing: 5px; 
    margin-right: 50px;
    margin-top: 50px;
    

}

#menu, a {
    text-decoration: none;
    color: inherit;
}

#menu:hover {
    background-color: cornsilk;
}

a:hover {
  border-bottom: 1px;
}

#background-image {
    height: 900px;
    width: 100%;
    background-size: cover;
    background-image: url('../images/brewing-kit.jpg');
    
    
    

}