@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Georama:wght@300&display=swap');

* {
    margin: 0;
   padding: 0;
   border: none;
}

body {
    
   font-family: Georama, sans-serif;
   font-weight: 300;
   background-color: #202020;
   color: cornsilk;
   
}

h1 {
    font-family: "Bebas Neue";
}
header {
    height: 150px;
}

#heading {
    color: cornsilk;
    font-size: 800%;
    margin: 20px 0 0 20px;
    float: left;
}

/*navigation styling*/


    
.menu, #heading {
    line-height: 150px;
}

.menu {
    float: right;
}

.menu, li {
    display: inline-block;  
    font-size: 150%;
    letter-spacing: 5px; 
    margin-right: 50px;
    

}

.menu, a {
    text-decoration: none;
    color: inherit;
    
}

.menu a:hover {
    text-decoration: underline solid 1px;
    border-bottom: 1px;
}

/*about us

#about-us {
position: absolute;
height 50px;
width: 450px;
margin-left: 50px;
margin-top: 50px;
font-size: 130%;
background-color: rgba(0, 0, 0, 0.65);
border-style:inset;
padding: 5px;

}
*/
/*background image*/

#background-image {
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-image: url('../images/hero-image-beer1.jpg');
    
    
}

/*tagline*/

.make-beer {
    font-size: 100px;
    font-style: italic;
    width: 25%;
    margin-left: 125px;
    padding-top: 100px;
    text-transform: lowercase;
    
}

.make-beer a:hover {
    text-decoration: underline solid 3px;

}

/*brew labels

.dropdown {
    position: relative;
    display: inline-block;
    width: 33%; 
  }

  #extra-style {
    transform: translateY(-65px);   
  }

  .recepie {
       display: none; 
      position: relative;
      transition: all linear 0.5s;
      opacity: 0;
      
  }

  .label, img{
      width: 100%;
      
  }

  .label {
      transition: all linear 0.5s;
     
  }

  .label:hover + .recepie {
      /* display: block; 
      opacity: 1;
   

  }

  .recepie:hover .recepie {
      display: block;
  }
/*
 /*footer*/

 footer {
    height: 20px;
    

 }

 .social-networks {
     text-align: center;
     color:inherit;
     font-size: 50%;
     letter-spacing: 5px;
     margin-bottom: 50px;
     line-height: 50px;
 }

 /*beer recepie cards*/

 .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:80vh;
    width: 100%;

    
}

 .card {
     text-align: center;
     width:33.3%;
     height:45%
     

 }

.card img {
    height: 80%;
    width:45%
    
}
 

/*contact page background*/

.form-background {
    height: 120vh;
    width: 100%;
    background-size:cover;
    background-image: url('../images/form-background.jpg');


}
 
